name: Build Navidrome

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            pkg-config \
            libtag1-dev \
            libtagc0-dev


      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Read Node version
        id: node
        run: echo "version=$(cat .nvmrc)" >> $GITHUB_OUTPUT

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node.outputs.version }}
          cache: npm
          cache-dependency-path: ui/package-lock.json

      - name: Install UI deps
        run: |
          cd ui
          npm ci

      - name: Build Navidrome
        run: make build

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: navidrome-linux-amd64
          path: navidrome
